.container {
  container-type: inline-size;
}

.padding {
  block-size: 100dvh;
  padding: 24px;
}

.center {
  --dashboard-sidebar-shrunken-inline-size: 70px;
  --dashboard-sidebar-expanded-inline-size: 300px;
  --dashboard-sidebar-inline-size: var(--dashboard-sidebar-shrunken-inline-size);

  max-inline-size: 100%;
  block-size: 100%;

  display: grid;
  grid-template-columns: var(--dashboard-sidebar-inline-size) 1fr;
  transition: var(--animation-duration-md) ease-in-out;
  gap: 24px;

  &[data-expanded='true'] {
    --dashboard-sidebar-inline-size: var(--dashboard-sidebar-expanded-inline-size);
  }
}

.content {
  border: 1px solid var(--border-color);
  border-radius: var(--mantine-radius-md);
  padding: 18px;
}

