:root,
:root[data-mantine-color-scheme='light'] {
  --border-color: var(--mantine-color-gray-3);
  --input-bd: var(--mantine-color-gray-4);
  --input-bg: var(--mantine-color-white);
  --hover-color: var(--mantine-color-gray-0);
  --card-color: var(--mantine-color-gray-0);
  --notification-bg-color: var(--mantine-color-white);
  --text-color: var(--mantine-color-gray-9);

  --gradient-primary-from: #456fe8;
  --gradient-primary-to: #19b0ec;
  --gradient-primary: linear-gradient(
    to top right,
    var(--gradient-primary-from),
    var(--gradient-primary-to)
  );

  --gradient-purple-from: #147cdd;
  --gradient-purple-to: #ba87fd;

  --gradient-lime-from: #028cf3;
  --gradient-lime-to: #2feaa8;
}

:root[data-mantine-color-scheme='dark'] {
  --border-color: var(--mantine-color-dark-4);
  --input-bd: var(--mantine-color-dark-4);
  --input-bg: var(--mantine-color-dark-6);
  --hover-color: var(--mantine-color-dark-6);
  --card-color: var(--mantine-color-dark-6);
  --notification-bg-color: var(--mantine-color-dark-6);
  --text-color: var(--mantine-color-white);
}
