# editors
.idea
.DS_Store
.code
.vscode

# Scratchpad
WHITEBOARD.md

# secrets
.env
.env.test*
.env.prod*
.env.dev*

# logs
logs/
*.log

# temp and cache folders
tmp
.task

# build files
scripts
scripts/git-hooks
*.out
*.exe
docs/api/swagger.json
docs/api/swagger.yaml
docs/api/docs.go

coverage
coverage.html